@value colors: "../colors.css";
@value primarydark, primarylight, secondarydark, secondarylight, dark, linkColor from colors;

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    max-width: 80em;
    margin: 0 auto;
}

.grid > div {
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .grid {
        display: grid; 
        grid-template-columns: 1fr;
    }
}

.person {
    height: 30em;
    width: 30em;
    object-fit: scale-down;
    bottom: -3em;
    left: 10em;
    z-index: 0;
    position: absolute;
}

.person img {
    height: 30em;
    width: 30em;
    object-fit: scale-down;
}

.frontTitle {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 7em;
    font-weight: bold;
    color: secondarylight;
    filter: drop-shadow(4px 5px 10px rgba(34, 34, 34, 0.7));
    line-height: 1em;
    margin-bottom: 0.5em;
}

.titleBlock {
    height: 30em;
    width: 40em;
}

div.description {
    max-width: 30em;
}


.description .link {
    color: linkColor;
}

@media only screen and (max-width: 1000px) {
    .person {
        height: 0;
        width: 0;
        object-fit: scale-down;
        bottom: -3em;
        left: 10em;
        z-index: 0;
        position: absolute;
    }

    .person img {
        height: 0;
        width: 0;
    }

    .title {
        font-size: 3em;
        text-align: center;
    }
    .titleBlock {
        width: unset;
        height: unset;
    }

    .logos {
        width: max-content;
        margin: auto;
    }
}