.main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

.mainImage {
    max-width: 10rem;
}

.mainImage img {
    width: 100%;
    height: auto;
}

.minilogo {
    display: block;
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}

.minilogo img {
    width: 100%;
    height: 100%;
}

.logos {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1em;
    gap: 1rem;
}


@media only screen and (max-width: 40em) {
    .main {
        display: block;
    }
    .mainImage {
        max-width: 0rem;
    }
}