.project {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    overflow: hidden;
}

.project:hover {
    cursor: pointer;
}

.project .image {
    width: 20em;
    height: 12em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
}

.project > div > img.background {
    width: 100%;
    height: 12em;
    object-fit: cover;
    filter: none ;
}

.project .title {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.project .description {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.project .description .details {
    font-size: small;
    line-height: 20px;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 80em) {

    .project {
        font-size: 0.9em;
    }

    .project .details {
        font-size: 0;
        padding: 0;
        margin: 0;
    }
}



@media only screen and (max-width: 60em) {

    .project {
        display: grid;
        grid-template-columns: 8rem 1fr;
        width: 100%;
    }

    .project .image {
        width: 8em;
        height: 8em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        overflow: hidden;
        filter: drop-shadow(0px 5px 10px rgba(99, 2, 2, 0.199));
    }

    .project .description{
        padding: 0;
    }

    .project .description .details {
        font-size: 0.7rem;
        max-width: 25rem;
        line-height: 0.8rem;
    }

    .project .title {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .project > div > img.background {
        width: 8em;
        height: 8em;
        object-fit: cover;
        filter: none ;
    }
}