@value colors: "../colors.css";
@value primarydark, primarylight, secondarydark, secondarylight, dark, linkColor from colors;

.links > div {
    display: inline;
    margin-right: 1em;
}

.links > .link > a {
    color: linkColor;
    text-decoration: unset;
    font-weight: bold;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1em;
}

.details {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 1em;
}

.project {
    display: grid;
    grid-template-columns: auto 1fr;
}
.project > div {
    padding: 1em;
}

.project > div > img.background {
    width: 20em;
    height: 10em;
    object-fit: cover;
    animation: unset;
    margin-top: 1em;
    opacity: 0.5;
    transition: width 0.2s, height 0.2s;
    border-radius: 5px;
}

.project .fullImage {
    position: fixed;
    z-index: 2;
    height:100%;
    width:100%;
    top: 0;
    left: 0;
    background-color: dark;
    padding: 0;
}

.fullImage .details {
    max-width: 30em;
    margin: auto;
    text-align: center;
    color: primarylight;
}

.project .fullImage .details h2, .project .fullImage .details  h1,.project .fullImage .details  h3 {
    color: secondarylight;
}

.fullImage img {
    display: block;
    width: auto;
    height: 30%;
    margin: 1em auto;
    object-fit: cover;
}

.project > div > img.background:hover {
    transform: scale(1.03, 1.03) ;
    opacity: 1;
    animation-name: hover;
    animation-duration: 0.2s;
}

@keyframes hover {
    from {
        transform: scale(1, 1) ;
    }
    to {
        transform: scale(1.03, 1.03) ;
    }
  }

@media only screen and (max-width: 80em) {
    .project > div > img.background, .project > div > img.background:hover {
        width: 0;
        height: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    .project > div {
        padding: 0em;
    }
}