.grid {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    max-width: 80em;
    margin: 0 auto;
}

.grid > div {
    margin: auto;
    position: relative;
    max-width: 40em;
}

@media only screen and (max-width: 1000px) {
    .grid {
        display: grid; 
        grid-template-columns: 1fr;
    }
}