.grid {
    display: grid; 
    grid-template-columns: 1fr min-content;
    max-width: 80em;
    margin: 0 auto;
}

.gridsmall {
    display: grid; 
    grid-template-columns: 1fr min-content;
    max-width: 60em;
    margin: 0 auto;
}

.grid > div, .gridsmall > div {
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .grid {
        display: grid; 
        grid-template-columns: 1fr;
    }

    .gridsmall {
        display: grid; 
        grid-template-columns: 1fr;
    }
}