@value colors: "./colors.css";
@value primarydark, primarylight, secondarydark, secondarylight, dark from colors;

.page {
    height: max-content;
    min-height: 90vh;
    margin: 0;
    text-align: left;
    background-color: primarydark;
    color: primarylight;
}

.page > div:nth-child(odd){
    background-color: primarydark;
    color: primarylight;
}

.page > div:nth-child(odd) a{
    color: primarylight;
}

.page > div:nth-child(odd) h2, .page > div:nth-child(odd) h1,.page > div:nth-child(odd) h3 {
    color: secondarylight;
}

.page > div:nth-child(even) {
    position: relative;
    background-color: secondarylight;
    color: secondarydark;
    filter: drop-shadow(0px 5px 5px rgba(34, 34, 34, 0.315));
}

.page > div:nth-child(even) h2,.page > div:nth-child(even) h1,.page > div:nth-child(even) h3 {
    color: primarydark;
}

.page > div:nth-child(even) a{
    color: dark;
}

.page > div {
    min-height: 30em;
    padding: 2em;
}

.minilogo {
    width: 20pt;
    height: 20pt;
    margin: 10pt;
    object-fit: scale-down;
    animation: unset;
}

.logo {
    height: 20em;
    width: 20em;
    object-fit: scale-down;
}