.page {
    height: max-content;
    min-height: 90vh;
    max-width: min(90rem, 90%);
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 60em) {
    .list {
        margin: 0 auto;
        width: max-content;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}