.main {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    line-height: 1.2rem;
    background-color: var(--darkBackground);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
}

.search {
    overflow: hidden;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    font-size: 14px;
}

.main a
{
    text-decoration: none;
}

.main a:hover
{
    color: var(--secondaryText);
}

@media only screen and (max-width: 60em) {
    .tabs {
        gap: 1rem;
        justify-content: space-evenly;
        flex-grow: unset;
    }
    .main
    {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: start;
    }

    .search {
        width: 0px;
    }
}