.Header {
    padding-top: 1em;
    color: white;
    background-color: #1F0322;
    margin: 0;
}

.Header ul {
    padding-left: 0;
    padding-right: 0;
    display:table;
    width: max-content;
    height: max-content;
    margin: auto;
}

.Header ul a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display:table-cell;
}

.Header ul li {
    display:table-cell;
}

.Header ul a:hover {
    color: #DA4167;
    background-color: #8A1C7C;
}