@value colors: "./pages/colors.css";
@value primarydark, primarylight, secondarydark, secondarylight, dark, linkColor from colors;

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: primarydark;
}

a {
  color: linkColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events:none; 
}
